<div class="row">
	<div class="col-lg-5 center-block">
		<h3 class="text-center">Formulario de actualización de datos</h3>
	</div>	
</div>
<div class="row">
	<div ng-show="success" class="col-lg-8 center-block alert alert-success">
		<p>Sus datos han sido registrados con éxito, gracias por su tiempo</p>
	</div>
	<div class="panel panel-info col-lg-8 center-block">
		<div class="panel-body">
			<form class="form" name="formData" novalidate>
				<div class="form-group" ng-class="{'has-error': formData.nombres.$invalid}">
					<label for="nombres">Nombres: </label>
					<input name="nombres" type="text" class="form-control" 
							ng-model="cliente.nombres" 
							ng-required="true" 
							ng-minlength="4"
							ng-disabled="success">
				</div>
				<div class="form-group" ng-class="{'has-error': formData.apellidos.$invalid}">
					<label for="apellidos">Apellidos: </label>
					<input name="apellidos" type="text" class="form-control" 
							ng-model="cliente.apellidos" 
							ng-required="true" 
							ng-minlength="4"
							ng-disabled="success">
				</div>
				<div class="form-group" ng-class="{'has-error': formData.cedula.$invalid  || formData.cedula.$error.number}">
					<label for="nombre">Cédula: </label>
					<input name="cedula" type="number" class="form-control" ng-model="cliente.cedula" ng-required="true" ng-minlength="7" ng-disabled="success">
				</div>
				<div class="form-group" ng-class="{'has-error': formData.email.$invalid}">
					<label for="email">E-mail: </label>
					<input name="email" type="email" class="form-control" 
							ng-model="cliente.email" 
							ng-required="true"
							ng-disabled="success">
				</div>
				<div class="form-group" ng-class="{'has-error': formData.contacto.$invalid  || formData.contacto.$error.number}">
					<label for="contacto">Número Celular ó telefónico: </label>
					<input name="contacto" type="number" class="form-control" ng-model="cliente.contacto" ng-required="true" ng-minlength="7" ng-disabled="success">
				</div>
				<div>
					<button type="button" class="btn btn-default" ng-disabled="formData.$invalid" ng-click="guardar(formData)">Enviar</button>
				</div>	
			</form>
		</div>
	</div>
	
</div>
